<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <main id="main">
        Esta es tu lista de estudiantes:
    
        {% for user in users %}
        <ol>
            <li>
                <p>Nombre: {{users[user].name}}</p>
                <p>Notas: {{users[user].notas}} </p>
            </li>
        </ol>
        {% endfor %}

        <a href="/admin">Volver</a>
    </main>
    <script src="script.js"></script>
</body>
</html>