<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='añadirEstudiante.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/añadir.png') }}" type="image/x-icon">
    <title>Agregar Estudiante</title>
</head>
<body>
    <main id="main">
        <form action="" method="post">
            <p>
                {{form.username.label}} <br>
                {{form.username(size=30)}}
            </p>

            <p>
                {{form.password.label}} <br>
                {{form.password(size=30)}}
            </p>

            <p>
                {{form.submit}}
            </p>
        </form>

        <a href="/admin">Volver</a>
    </main>
    <script src="script.js"></script>
</body>
</html>
