<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='eliminarEstudiantes.css') }}">
    <title>Eliminar Estudiante</title>
</head>
<body>
    <main>
        <form action="" method="post">
            <!-- Campo de nombre de usuario -->
            <p>
                <label for="username">{{form.username.label}}</label> <br>
                {{form.username(size=30, class="form-input", id="username")}}
            </p>

            <!-- Checkbox de confirmación -->
            <div class="checkbox-container">
                <input type="checkbox" id="check" name="check" value="agree">
                <label for="check">Está seguro que desea eliminar este estudiante? Esta acción es irreversible.</label>
            </div>

            <!-- Botón de envío -->
            <p>
                {{form.submit(class="submit-btn")}}
            </p>
        </form>

        <!-- Enlace de navegación de regreso -->
        <a href="/admin">Volver</a>
    </main>

    <script src="script.js"></script>
</body>
</html>
