<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <main id="main">
        Bienvenido administrador, elije la operación que deseas realizar <br>

        <a href="/añadir_estudiante">Añadir Estudiante</a> <br>
        <a href="/lista_estudiantes">Ver Lista de Estudiantes</a> <br>
        <a href="/eliminar_estudiante">Eliminar Estudiante</a> <br>

        <a href="#">Añadir Nota</a> <br>
        <a href="#">Eliminar Nota</a> <br>
    </main>
    <script src="script.js"></script>
</body>
</html>