<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesEstudiantes.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/estudiantes.png') }}" type="image/x-icon">
    <title>estudiantes</title>
</head>
<body>
    <main id="main">
        <h1>Bienvenido estudiante</h1>
        Estas son tus notas:
    
        {% for nota in notas %}
            <ol>
                <li>Nombre: {{ nota["name"] }}</li>
                <li>Creditos: {{ nota["creditos"] }}</li>
                <li>Nota: {{ nota["nota"] }}</li>
            </ol>
        {% endfor %}

        <p>Total : {{total}}</p>
    
        {% if total > 4.3 %}
            <h1 id="beca">Felicidades !! fuiste elegido para una beca</h1>
        {% endif %}
    </main>
    <script src="script.js"></script>
</body>
</html>
